<hr>
<footer>
  <h4>Social Media</h4>
  <div class="social">
    <ol>
      <li><a href="#" class="fab fa-facebook"></a></li>
      <li><a href="#" class="fab fa-twitter"></a></li>
      <li><a href="#" class="fab fa-linkedin"></a></li>
      <li><a href="https://www.instagram.com/s.m.a.i.n.g.i_/" class="fab fa-instagram"></a></li>
      <li><a href="https://github.com/layersony" class="fab fa-github"></a></li>
      <li><a href="tel:+254796727706" class="fab fa-whatsapp"></a></li>
    </ol>
  </div>
  <div class="footer_info">
    <p>Created By Maingi Samuel &copy; 2021</p>
  </div>
</footer>