{% extends 'base.html' %}

{% block content %}
  <h1>Home Index</h1>
  <div >
    {% for project in allprojects %}
    <div class='mb-3 bg-warning'>
      <a href="{% url 'userprofile' project.projectowner.profile.id %}">Profile</a><br>
      <img src="{{ project.image.url }}" alt="{{ project.title }}" style='width:50vw'>
      <p>{{ project.title }}</p>
      <p>{{ project.projectowner }}</p>
      {% autoescape on %}
      <p>{{ project.description|safe }}</p>
      {% endautoescape %}
      
      <p>{{ project.livelink }}</p>
      <a href="{% url 'projectdetails'  project.id %}">Check it out</a>
    </div>


    {% endfor %}
  </div>
{% endblock %}