<div class="text-center mt-2">
  <a class="btn btn-outline-secondary mr-2" href="{% url 'home' %}">Home</a>

  {% if user.is_authenticated %}
  <a class="btn btn-outline-secondary mr-2" href="{% url 'profile' %}">Profile</a>
  <a class="btn btn-outline-secondary mr-2" href="{% url 'postproject' %}">Post Project</a>
  <a class="btn btn-outline-secondary mr-2" href="{% url 'logout' %}">Logout</a>
  {% else %}
  <a class="btn btn-outline-secondary mr-2" href="/accounts/login">Login</a>
  {% endif %}
</div>
<form class="form-inline d-flex flex-column justify-content-center align-items-center searchdivform mt-2" role="search" action='{% url "search" %}'>
  <div class="searchform">
    <div class="search">
      <input class="form-control me-2 searchTerm" name="search" type="search" placeholder="Search" aria-label="Search">
      <button type="submit" class="searchButton btn"><i class="fad fa-search"></i></button>
    </div>
  </div>
</form>
<hr>
