<div class="text-center mt-2">
  <a class="btn btn-outline-secondary mr-2" href="{% url 'home' %}">Home</a>
  <a class="btn btn-outline-secondary mr-2" href="{% url 'profile' %}">Profile</a>
  <a class="btn btn-outline-secondary mr-2" href="{% url 'userprofile' %}">UserProfile</a>
  <a class="btn btn-outline-secondary mr-2" href="{% url 'postproject' %}">Post Project</a>
  <a class="btn btn-outline-secondary mr-2" href="{% url 'projectdetails' %}">Project Details</a>
  <a class="btn btn-outline-secondary mr-2" href="{% url 'search' %}">Search</a>
</div>
<hr>