{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="container mb-2 mt-4">

  <h1 class='text-center'>Profile</h1>
  <div class="d-flex justify-content-center align-items-center mt-5 mb-5">
    <div class="row userdetails ">
      <div class="col-md-6">
        <img src="" alt="{{ curr_user.username }}">
      </div>
      <div class='col-md-6 details'>
        <h4>{{ curr_user.username }}</h4>
        {% if curr_user.bio %}
        <p>{{ curr_user.bio }}</p>
        {% endif %}
        {% if curr_user.phone %}
        <p>{{ curr_user.phone }}</p>
        {% endif %}
        <button class="btn btn-outline-secondary btn-md plusicon" data-toggle="modal" data-target="#myModal"><i class="fad fa-plus"></i> <span>Update Info</span></button> 
      </div>
    </div>
  </div>
  <hr>

  
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content p-4">
        <h1>Update Info</h1>
        <form method="post" enctype="multipart/form-data" action="{% url 'profile' %}">
          {% csrf_token %}
          {% bootstrap_form userform %}
          <br>
          {% bootstrap_form profileform %}
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
<div class="container-fluid">
  <div class="wrapper-grid justify-content-center align-items-center text-center mb-5">
    {% for project in curr_project %}
    <div class='mr-3 contimage'>
      <a class='proj' href="{% url 'projectdetails'  project.id %}"><img src="{{ project.image.url }}" alt="{{ project.title }}" class="img-fluid userpics"></a>
      <div class="text-left p-2">
        <p><strong>{{ project.title }}</strong></p>
        <hr>
        <div class="d-flex justify-content-between align-items-center">
          <span>Check Site <a href="{{ project.livelink }}"><i class="fad fa-external-link"></i></a></span>
          <span><sub> From Kenya</sub></span>
        </div>
      </div>
    </div>
    {% empty %}
    <p class="alert alert-info text-center">Currently No Projects</p>
    {% endfor %}
  </div>
</div>
{% endblock %}